# =========================
# GENERAL
# =========================
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# JAVA / MAVEN
# =========================
**/target/
*.class

# =========================
# ANGULAR / NODE
# =========================
**/node_modules/
**/.angular/
**/dist/
**/.cache/

# =========================
# ENV / SECRETS
# =========================
.env
.env.*
*.env
application-local.yml
application-local.properties

# =========================
# ARCHIVOS COMPRIMIDOS
# =========================
*.zip
*.rar
*.7z

# =========================
# TEMPORALES
# =========================
*.pid
*.seed
